* {
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0;
  color: white;
}

.logo {
  width: 80px;
}
header {
  background-color: #212121;

}
.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 2rem;
  color: white;
}
#home {
  color: #00D1E0;
}
.logo-container {
  font-size: 1.5rem;
  margin: .5rem;
}

.navbar-links ul {
  margin: 0;
  padding: 0;
  display: flex;
}

.navbar-links li {
  list-style: none;
}
.navbar-links li a {
  text-decoration: none;
  color: white;
  padding: 2rem;
  display: block;
}
a {
  color: white;
}
li {
  list-style: none;
}
.navbar-links li a:hover {
  color: #14F3C8;
}

.toggle-button {
  position: absolute;
  top: .75rem;
  right: 1rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
}

.toggle-button .bar {
  height: 3px;
  width: 100%;
  background-color: white;
  border-radius: 10px;
}

.hero-wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.hero-text-wrapper {
  text-align: center;
  width: 40rem;
  max-width: 100%;
  overflow: hidden;
}
.hi {
  font-weight: 400;
  font-size: 1.2rem;
  line-height: .5rem;
}
.myName {
  font-weight: 600;
  font-size: 6rem;
   line-height: 6.5rem;
   margin-top: 1.5rem;
   margin-bottom: 1.5rem;
}

.job-title {
  color: #14F3C8;
  font-weight: 450;
  font-size: 1.8rem;
}
.info {
  text-align: center;
  font-weight: 400;
  font-size: 1rem;
} 

.icon-container {
  padding: 1.2rem 0;
}
.icon-container ul{
  display: flex; 
  gap: 2rem;
  margin-left: 11rem;
}

.connect {
  font-size: small;
}

.fa:hover {
  color: #14F3C8;
}




/* small tablet styles*/
@media (max-width: 500px){
  .logo {
    width: 80px;
  }
  .toggle-button {
    display: flex;
  }

  .navbar-links {
    display: none;
    width: 100%;
  }

  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }

  .navbar-links ul {
    flex-direction: column;
    width: 100%;
  }

  .navbar-links li {
    text-align: center;
  }

  .navbar-links li a {
    padding: .5rem 1rem;
  }

  .navbar-links.active {
    display: flex;
  }
}

/* large tablets & laptop styles */
@media (min-width: 960px){

}

/*  Desktop styles */
@media (min-width: 1200px){

}

