* {
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0;
  color: white;
  background-color: #262626!important;
  
}

header {
  height: 100%;
}
ul {
  list-style: none;
}

a {
  color: white;
}
.logo {
  width: 90px;
}

.navbar {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 2rem;
  color: white;
  background-color: rgba(33,33,33,.7);
  margin: 0;
  opacity: 1;
}

.navbar-links {
  display: none;
  width: 100%;
}

.navbar-links li a:hover {
  color: #14F3C8;
}

.navbar-links ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.navbar-links li {
  list-style: none;
  padding: 6px;
}

.navbar-links li a {
  text-decoration: none;
  padding: .5rem 1rem;
  transition: all .3 ease-in;
  color: white;
}

.navbar-links.active {
  display: flex;
  align-items: center;
  justify-content: center;
}
.toggle-button .bar {
  height: 3px;
  width: 100%;
  background-color: white;
  border-radius: 10px;
}
.toggle-button {
  position: absolute;
  top: .75rem;
  right: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
}
#home {
  color: #00D1E0;
}
.icon-container {
  display: none;
}
.job-title {
  color: #14F3C8;
  font-weight: 400;
  font-size: 1.6rem;
}

.info {
  max-width: 90%;
  text-align: center;
  margin-left: 1rem;
}
.hero-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.hero-text-wrapper {
  text-align: center;
  align-items: center;
  justify-content: center;
}
.hi {
  font-weight: 400;
  font-size: 1.2rem;
}
.myName {
  font-weight: 600;
  font-size: 4rem;
}

.container {
  background-color: rgba(33, 33, 33, 1);
}

/* Contact Me*/
.contact {
  height: 100%;
  width: 100%;
  padding: 5rem 0;
  background-color: #262626;
}
.contact-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.contact-header h3 {
  color: #14F3C8;
}
.contact-header p {
  text-align: center;
}
.contact-flex {
  display: flex;
  flex-direction: column;
}
.contact-form {
  display: flex;
  flex-direction: column;
  justify-self: center;
  align-self: center;
}
.contact-icons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
.contact-icons p {
  font-size: 1rem;
}
.tooSide{
  display: flex;
}
.bottom-contacts {
  display: flex;
  flex-direction: column;
}

.submitContact {
  display: flex;
  width: 23%;
  background-color: #14F3C8;
  border: 0;
  margin: 5px 0;
  padding: 1rem 5rem;
  justify-content: center;
  font-size: 1.2rem;
  font-family: 'Montserrat', sans-serif;
  cursor: pointer;
}



.submitButton-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
input {
  background-color: #262626;
  border: 1px solid white;
  margin: 10px;
  padding: 1rem;
 
}
textarea {
 background-color: #262626;
 border: 1px solid white;
 margin: 10px;
 padding: 1rem;
 font-family: 'Montserrat', sans-serif;
 
}
/* Footer */
.footer-flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 50px;
  background-color: rgba(33, 33, 33, 1);
}
.footer-icons ul {
  display: flex;
  gap: 2rem;
}



/* About Me section*/
.about-img-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}
.about-img {
  width: 20rem;
  height: auto;
  /* margin-left: 2.2rem; */
}

.about {
  height: 100%;
  width: 100%;
  background-color: #262626;
}

.about h2 {
  color: #14F3C8;
}

.about-text-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  line-height: 1.6rem;
  max-width: 32rem;
  padding: 2rem;
}

.about-button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding: 1.2rem;
}

.resume-button {
  background-color: #14F3C8;
  padding: 1rem 2rem;
}

.about-button a {
  color: black;
  text-decoration: none;
}




@media all and (min-width: 768px){
  /* NAV */
  
   .toggle-button {
     display: none;
   }
   .toggle-button .bar {
     display: none;
   }
   
   .navbar {
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    height: 100px;
    width: 100%;
    
  }
  .navbar-links.active {
    display: none;
  }
 
  .navbar-links {
    display: block;
  }
  .navbar-links ul {
    margin: 0;
    padding: 0;
    flex-direction: row;
    justify-content: flex-end;
  }
  .logo-container {
    margin: 5px 10px;
    padding: 5px 10px;
  }
  .navbar-links li a {
    padding: 2rem;
  }
   
 /* HERO */

 
  .hero-wrapper {
    flex-direction: row;
    justify-content: space-around;
  }

  .hero-text-wrapper {
    width: 40rem;
    max-width: 100%;
    align-items: center;
    justify-content: center;
  }

  .hi {
    font-weight: 400;
    font-size: 1.2rem;
    line-height: .5rem;
  }

  .myName {
    font-weight: 600;
    font-size: 6rem;
   line-height: 6.5rem;
   margin-top: 1.5rem;
   margin-bottom: 1.5rem;
  }

  .job-title {
    font-weight: 450;
    font-size: 1.8rem;
  }

  .info {
    font-weight: 400;
    font-size: 1rem;
  }
  .connect {
    font-size: small;
  }
  .fa {
    transition: all .3s ease-in;
  }
  .fa:hover {
    color: #14F3C8;
    cursor: pointer;
  }
  .icon-container {
    padding: 1.2rem 0;
    display: block;
 }
  .icon-container ul {
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin-right: 3rem;
  }
  /*  Contacts Section*/
  .contact-header p {
    font-weight: 400;
    font-size: 1.2em;
  }
  .contact-flex {
    flex-direction: row;
    justify-content: center;
    gap: 8rem;
  }

  .footer-flex {
    flex-direction: row;
    justify-content: space-around;
  }
  .logo {
    margin: 10px auto;
  }

  input {
    font-size: 1.2rem;
  }

  textarea {
    font-size: 1.2rem;
  }
  /* About Me Section*/
  .about-section {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    padding: 5rem 0;
  }
   
  .about-img {
    width: 25rem;
    margin-left: 2.6rem;
  }
  
  .resume-button {
    padding: 1rem 3rem;
  }
}